pids
logs
results
lib-cov
pom.xml
npm-debug.log
*.jar
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.swp
*.swo
*.gz
/classes/
/node_modules/
/out/
/lib/out/
/target/
.DS_store
.lein-deps-sum
.lein-repl-history
.lein-plugins/
